
.navbar {
	background-color: #339999;
	border-color:#339999;
	border-bottom:  solid #339999;
}

.navbar-default .navbar-brand {
	color: #FFFFFF;
}

.navbar-default .navbar-brand:hover {
	color: #FFFFFF;
}

.navbar-default 
.navbar-toggle {
    margin-top: 6px;
    margin-right: 6px;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
  }
  
  .navbar-default .navbar-toggle .icon-bar {
  	background-color: #FFFFFF;
  }
  
  .thumbnail {
  	background: none;
  }
  
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background: none;
    background: none;
  }
  
.tp-arrow {
	margin-top: 80px;
}

.icon-bar-symbol {
	content: "\f0c9";
}

.tp-leftarrow {
	z-index: 100;
	cursor: pointer;
	position: relative;
	background: url(../img/large_left.png) no-repeat 0 0;
	width: 40px;
	height: 40px;
}

.tp-leftarrow:active,.tp-leftarrow:hover {
	z-index: 100;
	cursor: pointer;
	position: relative;
	background: url(../img/large_left.png) no-repeat 0 40;
	width: 40px;
	height: 40px;
}

.tp-rightarrow {
	z-index: 100;
	cursor: pointer;
	position: relative;
	background: url(../img/large_right.png) no-repeat 0 0;
	width: 40px;
	height: 40px;
}

.tp-rightarrow:active,.tp-rightarrow:hover {
	z-index: 100;
	cursor: pointer;
	position: relative;
	background: url(../img/large_right.png) no-repeat 0 40;
	width: 40px;
	height: 40px;
}

.mainView {
	height:100%;
}

/*Destinations*/
	.list-group{
		width: 100%;
	}
	.list-group-item{
	}
    .bs-example{
    	/*margin: 5px;*/
    }
    
/**/
	

/**** LAYOUT ****/
.list-inline>li {
    padding: 0 10px 0 0;
}
.container-pad {
    padding: 30px 15px;
}


/**** MODULE ****/
.bgc-fff {
    background-color: #fff!important;
}
.box-shad {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.brdr {
    border: 1px solid #ededed;
}

/* Font changes */
.fnt-smaller {
    font-size: .9em;
}
.fnt-lighter {
    color: #bbb;
}

/* Padding - Margins */
.pad-10 {
    padding: 10px!important;
}
.mrg-0 {
    margin: 0!important;
}
.btm-mrg-10 {
    margin-bottom: 10px!important;
}
.btm-mrg-20 {
    margin-bottom: 20px!important;
}

/* Color  */
.clr-535353 {
    color: #535353;
}




/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
    #property-listings .property-listing {
        padding: 5px!important;
    }
    #property-listings .property-listing a {
        margin: 0;
    }
    #property-listings .property-listing .media-body {
        padding: 10px;
    }
}

@media only screen and (min-width: 992px) {
    #property-listings .property-listing img {
        max-width: 180px;
    }
}

.panel{
	background-color: rgba(230, 240, 226, 0.24);
}

.placeListContainer{
	background-color: rgba(232, 232, 232, 0.41);
}
/*Place Select Detail*/

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
    background-color: rgba(230, 240, 226, 0.24);
}
.box-icon {
    background-color: #57a544;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}