 <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <div class="box-icon">
                    <img src="img/places/1.jpg" class="img-circle" alt="Cinque Terre" width="136" height="136"/>
                </div>
                <div class="info">
                    <h4 class="text-center">Kerala</h4>
                   <p>With the Arabian Sea in the west, the Western Ghats towering 500-2700 m in the east and networked by 44 rivers, Kerala enjoys unique geographical features that have made it one of the most sought after tourist destinations in Asia. An equable climate. A long shoreline with serene beaches. Tranquil stretches of emerald backwaters. Lush hill stations and exotic wildlife. Waterfalls. Sprawling plantations and paddy fields. Ayurvedic health holidays. Enchanting art forms. Magical festivals. Historic and cultural monuments. An exotic cuisine... All of which offer you a unique experience. And what's more, each of these charming destinations is only a two hour drive from the other - a singular advantage no other destination offers.

Kerala, India's most advanced society: With hundred percent literacy. World-class health care systems. India's lowest infant mortality and highest life expectancy rates. The highest physical quality of life in India. Peaceful and pristine, Kerala is India's cleanest state.</p>      
                    <a href="" class="btn">Link</a>
                </div>
            </div>
        </div>
    </div>
</div>