<div class="mainView">

    <div class="topBar">
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Kerala Tourism</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div id="main-container" class="container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="img/1.jpg" alt="...">
                </div>
                <div class="item">
                    <img src="img/2.jpg" alt="...">
                </div>
                <div class="item">
                    <img src="img/3.jpg" alt="...">
                </div>
                <div class="item">
                    <img src="img/4.jpg" alt="...">
                </div>
                <div class="item">
                    <img src="img/5.jpg" alt="...">
                </div>
            </div>

            <!-- Controls -->
            <div class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <div class="glyphicon tp-arrow tp-leftarrow"></div>
            </div>
            <div class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <div class="glyphicon tp-arrow tp-rightarrow"></div>
            </div>
        </div>
        <!-- Carousel -->

        <div style="margin-top: 20px;">

            <div class="row">
                <div class="col-lg-3 col-md-4 col-xs-6 img-rounded">
                    <a href="#" class="thumbnail dashBoardItem" data-key="about"> <img src="img/about.png" alt="..."> </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 img-rounded">
                    <a href="#" class="thumbnail dashBoardItem" data-key="destinations"> <img src="img/destinations.png" alt="..."> </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 img-rounded">
                    <a href="#" class="thumbnail" data-key="specialities"> <img src="img/specialities.png" alt="..."> </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 img-rounded">
                    <a href="#" class="thumbnail dashBoardItem" data-key="otherInfo"> <img src="img/otherInfo.png" alt="..."> </a>
                </div>

            </div>
        </div>
    </div>
    </main>

